aside {
  position: fixed;
  min-width: 296px;
  min-height: 100vh;
}
body {
  font-family: "Noto Sans", Roboto,system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial,  "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
nav {
  padding: 32px;
}