.padding-t-32px {
  padding-top: 32px;
}
.padding-b-32px {
  padding-bottom: 32px;
}
.padding-l-32px {
  padding-left: 32px;
}
.padding-r-32px {
  padding-right: 32px;
}
.main-layout {
  margin-left:296px;
}
.dropdown-toggle::after {
  display: none;
}
.text-indent-16px {
  text-indent:16px;
}
.object-fit-cover {
  object-fit:cover;
}
.height-none {
  height: none;
}