.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
}
.index-list {
  width: 28%;
}
.index-card {
  width: 72%;
  
}
.list-group-item.active {
  background-color: $light;
  border-color: $gray-500;
  color: $black;
}
.card {
  border-color: $gray-500;
  .card-right {
    width: 94%;
  }
  .card-left {
    width: 6%;
  }
  .card-btn {
    // justify-content: start;
    width: 176px;
  }
}
.page-direction {
  a {
    text-decoration: none;
  }
  span:hover {
    background-color: $gray-200;
  }
}